<!-- teaching_and_load_assesment.html -->

{% extends 'app/dashboard/main.html' %}
{% block content %}

<section id="maindivarea">
        <div class="container mt-n22 px-6">
            
                <form class="mt-4" method="post" action="{% url 'formone' %}">
                  {% csrf_token %}
                  <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                <!-- card body -->
                <div class="card-body">
                  <div class=" mb-6">
                    <h4 class="mb-1">Faculty Value-Added Course</h4>
                  </div>
                  <div>
                    <!-- border -->

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Name of STTP/QIP/Refresher Course/FDP etc. Organised</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Name of STTP/QIP/Refresher Course.DFP etc. Organised" name="EOrganised" id="EOrganised" required="">
                        </div>
                      </div>
                      
                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Upload Report</label>
                        <div class="col-md-8 col-12">
                          <input type="file" class="form-control" placeholder="Upload Report" name="UploadReport" id="UploadReport" required="">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Name of STTP/QIP/Refresher Course/FDP etc. Attended</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Name of STTP/QIP/Refresher Course.DFP etc. Attended" name="EAttended" id="EAttended" required="">
                        </div>
                      </div>
                      
                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Upload Certificate</label>
                        <div class="col-md-8 col-12">
                          <input type="file" class="form-control" placeholder="Upload Certificate" name="UploadCertificate" id="UploadCertificate" required="">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Name of Conference/Wrokshop/Symposium/Seminar etc. Attended</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Name of Conference/Wrokshop/Symposium/Seminar etc. Attended" name="NameEvent" id="NameEvent" required="">
                        </div>
                      </div>
                      
                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Upload Certificate</label>
                        <div class="col-md-8 col-12">
                          <input type="file" class="form-control" placeholder="Upload Certificate" name="UploadEventCertificate" id="UploadEventCertificate" required="">
                        </div>
                      </div>
                      
                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Name of NPTEL/SWAYAM/ATAL FDP etc. Attended</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Name of NPTEL/SWAYAM/ATAL FDP etc. Attended" name="NPTELName" id="NPTELName" required="">
                        </div>
                      </div>
                      
                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Upload Certificate</label>
                        <div class="col-md-8 col-12">
                          <input type="file" class="form-control" placeholder="Upload Certificate" name="NPTELCert" id="NPTELCert" required="">
                        </div>
                      </div>              
                      
                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Marks Claimed</label>
                        <div class="col-md-3 col-12">
                          <input type="number" class="form-control" placeholder="Claimed Marks" name="fclaimedmarks" id="fclaimedmarks" required="">
                        </div>
                        <div class="col-md-1">of</div>
                        <div class="col-md-4 col-12">
                          <input type="number" class="form-control" placeholder="Out of Marks" name="totalmarks" id="totalmarks" required="">
                        </div>
                      </div>

                      <!-- row -->

                      <div class="mb-3 row">
                        <div class="col-md-12 col-12 text-center">
                          <input type="submit" class="w-75 btn btn-primary" value="Save &amp; Next">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
                  </div>
                 
                  </div>
                </form>
            
        </div>
   </section>

{% endblock content %}
