<!-- teaching_and_load_assesment.html -->

{% extends 'app/dashboard/main.html' %}
{% block content %}

<section id="maindivarea">
        <div class="container mt-n22 px-6">
            
                <form class="mt-4" method="post" action="{% url 'formone' %}">
                  {% csrf_token %}
                  <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                <!-- card body -->
                <div class="card-body">
                  <div class=" mb-6">
                    <h4 class="mb-1">Research and Consultancy</h4>
                  </div>
                  <div>
                    <!-- border -->

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Number of Ph.D. Scholaras Guided</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Number of Ph.D. Scholaras Guided" name="NoOfPHDGuided" id="NoOfPHDGuided" required="">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Number of P.G. Students/ B.E. Projects Guided</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Number of P.G. Students/ B.E. Projects Guided" name="NoOfPGguided" id="NoOfPGguided" required="">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Research Project Completed ( &lt; 50000) </label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Research Project Completed" name="ResearchProjectCompleted" id="ResearchProjectCompleted" required="">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Inhouse Product Development</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Inhouse Product Development" name="ResearchProjectCompleted" id="ResearchProjectCompleted" required="">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Consultancy (amount)</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Consultancy (amount)" name="Consultancy" id="Consultancy" required="">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Editorial Board &#47; Reviwer of Index Journal</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Editorial Board &#47; Reviwer of Index Journal" name="EditorialBoard" id="EditorialBoard" required="">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Papers Published with Industry Person</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Papers Published with Industry Person" name="EditorialBoard" id="EditorialBoard" required="">
                        </div>
                      </div>
                      
                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Upload Evidance</label>
                        <div class="col-md-8 col-12">
                          <input type="file" class="form-control" placeholder="Upload Evidance" name="EvidanceOne" id="EvidanceOne">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Upload Evidance</label>
                        <div class="col-md-8 col-12">
                          <input type="file" class="form-control" placeholder="Upload Evidance" name="EvidanceTwo" id="EvidanceTwo">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Upload Evidance</label>
                        <div class="col-md-8 col-12">
                          <input type="file" class="form-control" placeholder="Upload Evidance" name="EvidanceThree" id="EvidanceThree">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Upload Evidance</label>
                        <div class="col-md-8 col-12">
                          <input type="file" class="form-control" placeholder="Upload Evidance" name="EvidanceFour" id="EvidanceFour">
                        </div>
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Marks Claimed</label>
                        <div class="col-md-3 col-12">
                          <input type="number" class="form-control" placeholder="Claimed Marks" name="fclaimedmarks" id="fclaimedmarks" required="">
                        </div>
                        <div class="col-md-1">of</div>
                        <div class="col-md-4 col-12">
                          <input type="number" class="form-control" placeholder="Out of Marks" name="totalmarks" id="totalmarks" required="">
                        </div>
                      </div>

                      <!-- row -->

                      <div class="mb-3 row">
                        <div class="col-md-12 col-12 text-center">
                          <input type="submit" class="w-75 btn btn-primary" value="Save &amp; Next">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
                  </div>
                 
                  </div>
                </form>
            
        </div>
   </section>

{% endblock content %}
