<!-- teaching_and_load_assesment.html -->

{% extends 'app/dashboard/main.html' %}
{% block content %}

<section id="maindivarea">
        <div class="container mt-n22 px-6">
            
                <form class="mt-4" method="post" action="{% url 'formone' %}">
                  {% csrf_token %}
                  <div class="row">
                  <div class="col-md-9">
                      <div class="card">
                <!-- card body -->
                <div class="card-body">
                  <div class=" mb-6">
                    <h4 class="mb-1">Teaching Load Assessment</h4>

                  </div>
                  
                  
                  <div>
                    <!-- border -->
                  
                    
                      <!-- row -->

                      <div class="mb-3 row">
                        <label for="fullName" class="col-sm-4 col-form-label
                            form-label">  Class </label>
                        <div class="col-sm-5 mb-3 mb-lg-0">
                          <select class="form-control" name="currentclass" id="currentclass">
                            <option value="">Class</option>
                            <option value="SE">SE</option>
                            <option value="TE">TE</option>
                            <option value="BE">BE</option>
                          </select>
                        </div>
                        <div class="col-sm-3 mb-3 mb-lg-0">
                          <select class="form-control" name="division" id="division">
                            <option value="">Division</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                          </select>
                        </div>
                        
                      </div>

                      <!-- row -->

                      <div class="mb-3 row">
                        <label for="subject" class="col-sm-4 col-form-label
                            form-label">  Select Subject </label>
                        <div class="col-sm-8 mb-3 mb-lg-0">
                          <select class="form-control" name="subjectname" id="subjectname">
                            <option value="">Subject</option>
                            <option value="Website Application Development">Website Application Development</option>
                            <option value="Computer Network Security">Computer Network Security</option>
                            <option value="Data Science and Big Data Analysis">Data Science and Big Data Analysis</option>
                            <option value="Elective-2 Cloud Computing">Elective-2 Cloud Computing</option>
                            <option value="Internship">Internship</option>
                            
                          </select>
                        </div>
                        
                      </div>

                      <!-- row -->

                      <div class="mb-3 row">
                        <label for="numberoflectures" class="col-sm-4 col-form-label
                            form-label">  Number of Lectures </label>
                        <div class="col-sm-4 mb-3 mb-lg-0">
                          <input type="text" class="form-control" placeholder="Number of Lectures Taught" name="numberoflectures" id="numberoflectures" required="">
                        </div>
                        <div class="col-sm-2 mb-3 mb-lg-0">
                          <p>out of</p>
                        </div>

                        <div class="col-sm-2 mb-3 mb-lg-0">
                          <input type="text" class="form-control" placeholder="taught" id="taught" value="40" required="" disabled="">
                        </div>
                        
                      </div>

                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Score Claimed by Faculty</label>
                        <div class="col-md-8 col-12">
                          <input type="number" class="form-control" placeholder="Score Claimed by Faculty" name="scoreclaimedbyfaculty" id="scoreclaimedbyfaculty" required="">
                        </div>
                      </div>
                      <!-- row -->
                      <div class="mb-3 row">
                        <label for="position" class="col-sm-4 col-form-label
                            form-label">Uplod Collpoll Link</label>
                        <div class="col-md-8 col-12">
                          <input type="url" class="form-control" placeholder="Collpoll Link" name="collpolllink" id="collpolllink" required="">
                        </div>
                      </div>
                      
                    
                  </div>
                </div>
              </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                        <div class="card-body">
                          <div>
                        <div action="#" class="dropzone mb-3 border-dashed dz-clickable">
                          <label for="fullName" class="col-sm-12 col-form-label
                            form-label">  Upload Pink Book (pdf or jpeg) </label>
                        <div class="dz-default dz-message">
                          <button class="dz-button" type="button">Drop files here to upload</button>
                        </div>
                      </div>
                        
                      </div>
                          <input type="submit" value="Save &amp; Next" class="btn btn-primary w-100" required="">
                        
                        </div>
                        
                      </div>
                      
                  </div>
                  </div>
                </form>
            
        </div>
   </section>

   <script>
       document.getElementById("currentclass").value = "{{formonedata.currentclass}}";
       document.getElementById("division").value = "{{formonedata.division}}";
       document.getElementById("subjectname").value = "{{formonedata.subjectname}}";
       document.getElementById("numberoflectures").value = "{{formonedata.numberoflectures}}";
       document.getElementById("scoreclaimedbyfaculty").value = "{{formonedata.scoreclaimedbyfaculty}}";
       document.getElementById("collpolllink").value = "{{formonedata.collpolllink}}";
   </script>

{% endblock content %}
