{% extends 'app/dashboard/main.html' %}

{% block content %}
<section id="maindivarea">
        <div class="container mt-n22 px-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="mb-5 mb-lg-4">
                    <h3 class="mb-0  text-white">Welcome {{user.username}}!</h3>
                    <hr class="m-0">
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                            <!-- card -->
                            <div class="card ">
                                <!-- card body -->
                                <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center
                                    mb-0">
                                    <div>
                                    <h4 class="mb-0 long-text">Faculty Contribution to Department, Institute and Organisation</h4>
                                    </div>
                                    
                                </div>
                                <!-- project number -->
                                <div>
                                    <p class="fw-bold">
                                        {% if filleddata.FormOneA == "Completed" and filleddata.FormOneB == "Completed" and filleddata.FormOneC == "Completed" %}
                                            <span class="badge
                                                bg-success text-white px-2 py-1">
                                                {{filleddata.FormOneA}}</span>
                                        {% elif filleddata.FormOneA == "Incomplete" or filleddata.FormOneB == "Incomplete" or filleddata.FormOneC == "Incomplete" %}
                                            <span class="badge
                                                bg-dark text-white px-2 py-1">
                                                Partially {{filleddata.FormOneA}}</span>
                                        {% elif filleddata.FormOneA == "Incomplete" and filleddata.FormOneB == "Incomplete" and filleddata.FormOneC == "Incomplete" %}
                                            <span class="badge
                                                bg-danger text-white px-2 py-1">
                                                {{filleddata.FormOneA}}</span>
                                        {% endif %}
                                        </p>
                                    <p class="mb-0 w-25"><span class="text-dark me-2"><a href="/forms/formone" class="p btn btn-outline-primary
                      d-md-block small-btn-font">Make Submission</a></span></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                            <!-- card -->
                            <div class="card ">
                                <!-- card body -->
                                <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center
                                    mb-0">
                                    <div>
                                    <h4 class="mb-0">Faculty Contribution to R&D Research</h4>
                                    </div>
                                    
                                </div>
                                <!-- project number -->
                                <div>
                                    <p class="fw-bold">
                                        {% if filleddata.FormTwo == "Completed" %}
                                            <span class="badge
                                                bg-success text-white px-2 py-1">
                                                {{filleddata.FormTwo}}</span>
                                        {% elif filleddata.FormTwo == "Incomplete" %}
                                            <span class="badge
                                                bg-danger text-white px-2 py-1">
                                                {{filleddata.FormTwo}}</span>
                                        {% endif %}
                                        </p>
                                    <p class="mb-0 w-25"><span class="text-dark me-2"><a href="/forms/formtwo" class="p btn btn-outline-primary
                                        d-md-block small-btn-font">Make Submission</a></span></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                            <!-- card -->
                            <div class="card ">
                                <!-- card body -->
                                <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center
                                    mb-0">
                                    <div>
                                    <h4 class="mb-0">Book and Patent Published</h4>
                                    </div>
                                    
                                </div>
                                <!-- project number -->
                                <div>
                                    <p class="fw-bold">

                                        {% if filleddata.FormThree == "Completed" %}
                                            <span class="badge
                                                bg-success text-white px-2 py-1">
                                                {{filleddata.FormThree}}</span>
                                        {% elif filleddata.FormThree == "Incomplete" %}
                                            <span class="badge
                                                bg-danger text-white px-2 py-1">
                                                {{filleddata.FormThree}}</span>
                                        {% endif %}
                                        
                                        </p>
                                    <p class="mb-0 w-25"><span class="text-dark me-2"><a href="/forms/formthree" class="p btn btn-outline-primary
                      d-md-block small-btn-font">Make Submission</a></span></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                            <!-- card -->
                            <div class="card ">
                                <!-- card body -->
                                <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center
                                    mb-0">
                                    <div>
                                    <h4 class="mb-0 long-text">Creation of ICT (Inoovative Pedagogy)</h4>
                                    </div>
                                    
                                </div>
                                <!-- project number -->
                                <div>
                                    <p class="fw-bold">
                                        
                                        {% if filleddata.FormFour == "Completed" %}
                                            <span class="badge
                                                bg-success text-white px-2 py-1">
                                                {{filleddata.FormFour}}</span>
                                        {% elif filleddata.FormFour == "Incomplete" %}
                                            <span class="badge
                                                bg-danger text-white px-2 py-1">
                                                {{filleddata.FormFour}}</span>
                                        {% endif %}
                                        
                                        </p>
                                    <p class="mb-0 w-25"><span class="text-dark me-2"><a href="/forms/formfour" class="p btn btn-outline-primary
                      d-md-block small-btn-font">Make Submission</a></span></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                            <!-- card -->
                            <div class="card ">
                                <!-- card body -->
                                <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center
                                    mb-0">
                                    <div>
                                    <h4 class="mb-0">Research and Consultancy</h4>
                                    </div>
                                    
                                </div>
                                <!-- project number -->
                                <div>
                                    <p class="fw-bold">
                                        
                                        {% if filleddata.FormFive == "Completed" %}
                                            <span class="badge
                                                bg-success text-white px-2 py-1">
                                                {{filleddata.FormFive}}</span>
                                        {% elif filleddata.FormFive == "Incomplete" %}
                                            <span class="badge
                                                bg-danger text-white px-2 py-1">
                                                {{filleddata.FormFive}}</span>
                                        {% endif %}
                                        </p>
                                    <p class="mb-0 w-25"><span class="text-dark me-2"><a href="/forms/formfive" class="p btn btn-outline-primary
                      d-md-block small-btn-font">Make Submission</a></span></p>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                            <!-- card -->
                            <div class="card ">
                                <!-- card body -->
                                <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center
                                    mb-0">
                                    <div>
                                    <h4 class="mb-0">Faculty Value-Added Course</h4>
                                    </div>
                                    
                                </div>
                                <!-- project number -->
                                <div>
                                    <p class="fw-bold">
                                        
                                        {% if filleddata.FormSix == "Completed" %}
                                            <span class="badge
                                                bg-success text-white px-2 py-1">
                                                {{filleddata.FormSix}}</span>
                                        {% elif filleddata.FormSix == "Incomplete" %}
                                            <span class="badge
                                                bg-danger text-white px-2 py-1">
                                                {{filleddata.FormSix}}</span>
                                        {% endif %}

                                        </p>
                                    <p class="mb-0 w-25"><span class="text-dark me-2"><a href="/forms/formsix" class="p btn btn-outline-primary
                      d-md-block small-btn-font">Make Submission</a></span></p>
                                </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
                
            </div>
        </div>
   </section>
{% endblock content %}



